.container.content
  .container.well{:style => "min-height: 800px; background-color: #ffffff;"}
    %h2= "Results for #{@search_params}"
    - if @results.nil?
      %h4 Nothing was found... Try again.
    - else
      - @results.each do |result|
        .div
          %h4= link_to result['heading'], details_show_path(:article => result['url'])
          .pull-right.relevance
            - relevance = (result['relevance']['score'].to_f / @results[0]['relevance']['score'].to_f) * 100
            .donut.relevance-donut
              .donut-arrow{'data-percentage' => relevance}
            %p.relevance-number= "#{relevance.round(3)}%"
          %p= result['snippet'].html_safe
          %p= result['title']['value']
          %hr