.detail-container

  .left-container
    .well{:style => "background-color: #ffffff;"}
      %ul.nav.nav-pills{:id => "details-pdf-tab"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#article"} Article
        %li
          %a{"data-toggle" => "tab", :href => "#fullpage"} Full Page

      

      .tab-content
        #article.tab-pane.active
          %iframe{:frameborder => "0", :src => "http://trove.nla.gov.au/ndp/del/printArticlePdf/#{@article['id']}/3?print=n", :style => "width:700px; height:850px;"}
        #fullpage.tab-pane
          - if @article['pdf'].present?
            %iframe{:frameborder => "0", :src => @article['pdf'], :style => "width:700px; height:850px;"}
          - else
            There is no full page.

  .right-container
    .well{:style => "background-color: #ffffff;"}
      %ul.nav.nav-pills{:id => "details-tab"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#text"} Text
        %li
          %a{"data-toggle" => "tab", :href => "#entities"} Entities
        %li
          %a{"data-toggle" => "tab", :href => "#maps", :id => "map_tab"} Maps

      .tab-content
        #text.tab-pane.active
          = @article['articleText'].html_safe
        #entities.tab-pane
          %h5 Topics
          - @open_calais[:topics].each do |topic|
            %span.label.label-success= topic[:name]
          %h5 Suggested Tags
          - @open_calais[:tags].each do |tag|
            %span.label= tag
          %h5 Entities
          %ul
          - i = 0
          - @open_calais[:entities].each do |type, entities|
            %h3= type
            %ul
              - entities.each_with_index do |entity, index|
                %li
                  %a.entity-link{"data-target" => "#data-#{i}-#{index}", "data-toggle" => "collapse", :type => "button", :entity_name => "#{entity['name']}", :loaded => "false", :style => "cursor: hand; cursor: pointer;"}
                    = entity['name']
                  .collapse{:id => "data-#{i}-#{index}", :style => "padding-top: 15px"}
                    .well
                      - entity.each do |property, value|
                        - if !['instances','name', 'relevance', 'resolutions', 'commonname'].include? property and value != 'N/A'
                          = "#{property}: #{value}"
                          %br
                - i = i+1

                
          %h5 Relations
          %ul
          - @open_calais[:relations].each do |relation, values|
            %li= relation
            - values.each do |property_set|
              - property_set.each do |property, value|
                - if !['instances'].include? property and value != 'N/A'
                  = "#{property}: #{value}"
                  %br


        #wiki.tab-pane
          = @locations
        #nswapi.tab-pane
        #maps.tab-pane
          -if @locations.empty?
            There are no geo-coded locations in this article.
          #map-canvas

- if !@locations.empty?
  :javascript
    $("#map_tab").on('click', function(){
      google.maps.event.addDomListener(window, 'load', initialize('#{@locations[0]}')); 
    })
    
