.detail-container

  .left-container
    .well{:style => "background-color: #ffffff;"}
      %ul.nav.nav-pills{:id => "details-pdf-tab"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#article"} Article
        %li
          %a{"data-toggle" => "tab", :href => "#fullpage"} Full Page

      

      .tab-content
        #article.tab-pane.active
          %iframe{:frameborder => "0", :src => "http://trove.nla.gov.au/ndp/del/printArticlePdf/#{@article['id']}/3?print=n", :style => "width:700px; height:850px;"}
        #fullpage.tab-pane
          - if @article['pdf'].present?
            %iframe{:frameborder => "0", :src => @article['pdf'], :style => "width:700px; height:850px;"}
          - else
            There is no full page.

  .right-container
    .well{:style => "background-color: #ffffff;"}
      %ul.nav.nav-pills{:id => "details-tab"}
        %li.active
          %a{"data-toggle" => "tab", :href => "#text"} Text
        %li
          %a{"data-toggle" => "tab", :href => "#entities"} Analysis
        %li
          %a{"data-toggle" => "tab", :href => "#maps", :id => "map_tab"} Maps

      .tab-content
        #text.tab-pane.active
          = @article['articleText'].html_safe
        #entities.tab-pane
          %h4 Topics
          - @open_calais[:topics].each do |topic|
            %span.label.label-success= topic[:name]
          %h4 Suggested Tags
          - @open_calais[:tags].each do |tag|
            %span.label= tag
          %h4 Entities
          %ul
          - i = 0
          - @open_calais[:entities].each do |type, entities|

            %h5= type
            %ul
              - entities.each_with_index do |entity, index|
                
                %a.entity-link{"data-target" => "#data-#{i}-#{index}", "data-toggle" => "collapse", :type => "button", :entity_name => "#{entity['name']}", :loaded => "false", :style => "cursor: hand; cursor: pointer;", :entity_type => type}
                  = entity['name']
                .collapse{:id => "data-#{i}-#{index}", :style => "padding-top: 15px"}
                  .well
                    -if !type.nil? and @mapTheseEntities.include?(type)
                      .btn.map-button.pull-right{:entity_name => entity['name'], :class => "btn-success btn-small"} See on map
                      %br
                    - entity.each do |property, value|
                      - if !['instances','name', 'relevance', 'resolutions', 'commonname'].include? property and value != 'N/A'
                        = "#{property}: #{value}"
                        %br
                - i = i+1

                
          %h4 Events and Facts
          - @open_calais[:relations].each do |relation, values|
            %h5= relation
            - values.each do |property_set|
              %p
              - property_set.each do |property, value|
                - if !['instances'].include? property and value != 'N/A'
                  = "#{property}: #{value}"
                  %br

        #maps.tab-pane
          -if @locations.empty?
            There are no geo-coded locations in this article.
          #map-canvas

- if !@locations.empty?
  :javascript
    var lastEntity = null;
    $("#map_tab").on('click', function(){
      if(lastEntity == null) {
        google.maps.event.addDomListener(window, 'load', initialize('#{@locations[0]}'));
      } else {
        google.maps.event.addDomListener(window, 'load', initialize(lastEntity));
      }
    });

    $(".map-button").on("click", function(){
      var entity = $(this).attr('entity_name');
      $("#details-tab a:last").tab('show');
      lastEntity = entity;
      google.maps.event.addDomListener(window, 'load', initialize(entity));
    });
    
